@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #232c31;
    font-family: 'Montserrat', serif;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 2px;
    background-color: #607d8b;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.833);
}

p {
    color: rgba(255, 255, 255, 0.7);
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 60px;
    background-color: #2f3d45;
}

.header > * {
    margin-left: 20px;
}

.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 70px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 18px 20px;
    margin: 0;

    transition: all 0.3s ease 0s;
}

.header__burger > div {
    width: 22px;
    height: 3px;
    background: #607d8b;

    position: relative;
    transition: all 0.3s linear 0s;
    transform-origin: 0px center;
}

.header__burger.active > div:nth-child(1) {
    transform: rotate(45deg);
}

.header__burger.active > div:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.header__burger.active > div:nth-child(3) {
    transform: rotate(-45deg);
}


.header__logo > a {
    display: inline-block;
    height: 100%;
    
    color: #607d8b;
    
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

.header__articles {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #222c31;

    padding: 0 10px;
    height: 35px;
    border-radius: 5px;
}

.header__articles > p {
    font-size: 1em;
    color: #edb021;
}

.span-margin {
    margin-left: 10px;
}

.header__articles:before,
.header__articles:after {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-top: 15px;
    
    -webkit-transition: opacity .7s, margin-top .7s;
    -moz-transition: opacity .7s, margin-top .7s;
    transition: opacity .7s, margin-top .7s;
}

.header__articles:before {
    top: 60px;
    content: attr(data-tooltip);
    
    margin-left: -70px;
    padding: 10px;

    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 0.8em;

    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header__articles:after {
    content: "";
    border-bottom: 10px solid rgba(0, 0, 0, 0.3);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 0px;
    margin-left: 20px;
}

.header__articles:hover:before,
.header__articles:hover:after {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
}


.header__nav {
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    
    margin-top: 60px;
    margin-left: 0;
    padding-top: 18px;
    border-top: 2px solid #222c31;
    
    max-width: 180px;
    height: calc(100vh - 60px);
    background-color: #2f3d45;
    
    transition: all 0.5s ease;
}

.main-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.main-menu__item {
    margin-bottom: 5px;
}

.main-menu__link {
    display: flex;
    flex-direction: row;

    padding: 18px 20px;

    min-width: 70px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;

    color: #607d8b;
    border-left: 3px solid #607d8b;
}

.main-menu__text {
    margin-left: 10px;
    display: none;
}

.main-menu__link:hover:not(.main-menu__link_selected) {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #FFF;
    transition: all 0.5s ease;
}

.main-menu__link_selected {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #FFF;
}

.header__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 12.5px;
    right: 20px;
    
    background-color: #3d5159;

    min-height: 35px;
    border-radius: 5px;
}

.header__login:hover .header__profile-list {
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 150px;
    padding: 7px 10px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}

.header__profile-list {
    display: none;
    list-style: none;
}

.header__profile-list-link {
    display: block;
    padding: 10px;
}

.header__profile-list-link:hover {
    color: #FFF;
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 20px 80px 90px;
    margin: 0 auto;
}

.main__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #28353b;
    max-width: 1132px;
}

.categories__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 10px;
}

.categories__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 10px;
}


.categories__item-info_selected {
    background-color: #3d5159;
    color: #FFF;
}

.categories__name  {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
}

.categories__item-info:hover {
    background: #3d5159;
    color: #FFF;
    cursor: pointer;
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: rgba(255, 255, 255, 0.7);

    font-size: 40px;
    background: #2f3d45;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;

    transition: all .3s linear 0s;
}

.categories__item-info_selected {
    background-color: #3d5159;
    color: #FFF;
}

.categories__custom-checkbox {
    display: none;
}



.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;

    background: #2f3d45;
    color: #FFF;
    opacity: 0.5;

    width: 120px;
    height: 50px;
    margin: 10px;

    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

.button:disabled {
    opacity: 0.3;
}


.categories-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;

    padding: 10px;
}

.categories-list__item {
    margin: 10px;
}

.categories-list__link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.categories-list__link:hover:not(.categories-list__link_selected) {
    color: #FFF;
    background-color: #2f3d45;
    transition: all 0.5s ease;
}

.categories-list__link_selected {
    color: #FFF;
    background-color: #2f3d45;
}

.articles__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.articles__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;
}

.articles__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    color: rgba(255, 255, 255, 0.7);
    
    background: #2f3d45;

    padding: 20px;
    margin: 10px;
    border-radius: 30px;

    transition: all .3s linear 0s;
}

.articles__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    font-size: 15px;
    color:rgba(255, 255, 255, 0.5)
}

.articles__category {
    display: flex;
    align-items: center;
}

.articles__body {
    flex-grow: 1;
}

.articles__text {
    margin: 10px 0;
    max-width: 800px;
}

.articles__footer {
    display: flex;
    justify-content: flex-end;
}

.articles__btn-read {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);
   
    padding: 10px;  
    border: none;
    border-radius: 30px;
    cursor: pointer;    
}

.pagination {
    display: flex;
    margin: 10px;
}

.pagination__item_selected,
.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    margin: 10px;

    font-size: 17px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);

    border-radius: 50%;
}


.login-form {
    display: flex;
    flex-direction: column;

    color: rgba(255, 255, 255, 0.7);

    width: 300px;
    padding: 20px;
    margin: 10px;
}

.login-form__title {
    text-align: center;
    margin: 10px;
}

.login-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form__item {
    display: flex;
    flex-direction: column;

    padding: 5px;
}

.login-form__item > label {
    margin-bottom: 5px;
}

.login-form__item > input {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    background: #2f3d45;
    outline: none;
    border: none;

    padding: 5px;
    width: 230px;
    height: 30px;
}

.login-form__sign-up-link {
    font-size: 15px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.login-form__sign-up-link:hover {
    color: #FFF;
}

.errorlist {
    list-style: none;
    font-size: 15px;
    text-align: center;
    color: rgba(150, 70, 70, 0.8);
}


@media screen and (max-width: 600px) {
    .header__logo {
        display: none;
    }

    .main__wrapper {
        padding: 65px 5px 80px 75px;
    }

    .main__content-wrapper {
        width: 100%;
    }

    .categories-list {
        padding: 0;
    }

    .articles__content {
        padding: 0px;
    }

    .articles__item {
        margin: 0 0 10px 0;
    }
}
