{% extends 'content_aggregator/base.html' %}

{% block content %}
    <form method="POST" action="" class="categories__wrapper">
        {% csrf_token %}
        <div class="categories__content">
            {% for choice in form.user_category %}
                <div class="categories__item">
                    <input  type="checkbox" id="id_user_category_{{ choice.data.value }}"
                            class="categories__custom-checkbox"
                            name="user_category"
                            value="{{ choice.data.value }}"/>
                    <label class="categories__item-info" for="id_user_category_{{ choice.data.value }}">
                        {% autoescape off %}
                        {{ choice.data.value.instance.icon }}
                        {% endautoescape %}
                        <span class="categories__name">{{ choice.data.value.instance.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button class="button" type="submit">Обновить</button>
    </form>
{% endblock %}